/*      라이트 모드       */
$text-color-light: #000;
$bg-color-light: #fff;
$bg-color-blur-light: rgba(255,255,255,0.2);
$shadow-color-light: rgba(0,0,0,0.2);
$svg-stroke-light: #000;
$svg-fill-light: #000;
$parallax-bg-color-light-1: #afe7f2;
$parallax-bg-color-light-2: #b4dcf7;
$parallax-bg-color-light-3: #c6eeee;

/*      다크 모드       */
$text-color-dark: #fff;
$bg-color-dark: #000;
$bg-color-blur-dark: rgba(0,0,0,0.2);
$shadow-color-dark: rgba(255,255,255,0.2);
$svg-stroke-dark: #fff;
$svg-fill-dark: #fff;
$parallax-bg-color-dark-1: #03446f;
$parallax-bg-color-dark-2: #03446f;
$parallax-bg-color-dark-3: #03446f;
