/*      라이트 모드       */
$text-color-light: #000;
$text-color-inherit-light: #fff;
$text-color-light-2: #565656;
$bg-color-light: #fff;
$bg-color-inherit-light: #000;
$bg-color-blur-light: rgba(255,255,255,0.7);
$shadow-color-light: rgba(0,0,0,0.2);
$parallax-bg-color-light-1: #afe7f2;
$parallax-bg-color-light-2: #b4dcf7;
$parallax-bg-color-light-3: #c6eeee;
$button-color-light-1: whitesmoke;
$contact-memo-container-light: #ffffffd0;

/*      다크 모드       */
$text-color-dark: #fff;
$text-color-inherit-dark: #000;
$text-color-dark-2: #c0c0c0;
$bg-color-dark: #2c3438;
$bg-color-inherit-dark: #fff;
$bg-color-blur-dark: rgba(0,0,0,0.7);
$shadow-color-dark: rgba(255,255,255,0.2);
$parallax-bg-color-dark-1: #012d4b;
$parallax-bg-color-dark-2: #012d4b;
$parallax-bg-color-dark-3: #012d4b;
$button-color-dark-1: #616161;
$contact-memo-container-dark: #2c3438d0;