/*     Home     */
.contact {
    height: 100dvh;
}

.intro-container {
    height: 100dvh;
    display: flex;
    align-items: flex-start;
    padding-left: 7rem;
    color: white;

    div {
        img {
            width: 150px;
            height: 150px;
            margin: 5rem 0 2rem 0;
            border-radius: 50%;
        }

        h1 {
            font-weight: lighter;
            font-size: 48px;
        }

        h2 {
            font-weight: bold;
            font-size: 48px;
        }

        .intro-text-container {
            line-height: 30px;
            font-weight: lighter;
            font-size: 20px;
            margin: 2rem 0 1rem 0;
            width: 600px;
            height: 90px;
            position: relative;

            p {
                position: absolute;
            }
        }

        .intro-text-radio {
            margin-bottom: 3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            button {
                cursor: pointer;
                border: 1px solid white;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                padding: 5px;
                background: none;
                transition: all .2s;
            }

            span {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .intro-links {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 50px;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: #fff;
                font-size: 13px;
                font-weight: bold;

                svg {
                    fill: #ffffff;
                    width: 38px;
                    height: 38px;
                }
            }

            hr {
                border: none;
                width: 1px;
                height: 35px;
                background-color: #fff;
                margin: 0;
            }
        }

    }
}

.my-skill {
    padding: 5rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
        font-size: 40px;
        font-weight: lighter;
    }

    p {
        font-weight: lighter;
        font-size: 20px;
        margin-top: 5rem;
        line-height: 30px;
    }

    .my-skill-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            position: relative;
            z-index: 1;
            padding: 1rem;

            span {
                position: absolute;
                background-color: white;
                padding: 3px 10px;
                top: -10px;
                left: 10px;
                font-size: 14px;
                z-index: 2;
            }

            img {
                height: 30px;
            }
        }

        .list-1 {
            border: 1px solid #676767;
            border-right: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }

        .list-2 {
            border: 1px solid #676767;
            border-left: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }

        .list-3 {
            margin-left: 10px;
            border: 1px solid #676767;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }
    }

}

.portfolio-container {
    background-color: whitesmoke;
    padding: 5rem 7rem;
    h1 {
        font-size: 40px;
        font-weight: lighter;
    }
    .portfolio-slider {
        margin-top: 3rem;
        position: relative;
        height: 380px;
        width: 100%;
        .portfolio-slide {
            z-index: 3;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;

            .portfolio-slide-img {
                width: 650px;
                height: 400px;
                overflow: hidden;
                position: relative;
                .macbook-img {
                    width: 650px;
                    height: 400px;
                    z-index: 3;
                    overflow: hidden;
                }
                .macbook-img-slider{
                    cursor: pointer;
                    position: absolute;
                    top: 24px;
                    left: 75px;
                    z-index: 2;
                    .view-slider{
                        position: relative;
                        width: 501px;
                            height: 325px;
                        img{
                            position: absolute;
                            width: 501px;
                            height: 325px;
                        }
                        .view-page-button{
                                transform: translateX(-50%);
                                opacity: 0;
                                position: absolute;
                                bottom: 2px;
                                left: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                transition: all .3s;
                                background-color: rgba(0,0,0,0.6);
                                border-radius: 30px;
                                svg{
                                    width: 15px;
                                    height: 15px;
                                    padding: 2px;
                                    border-radius: 50%;
                                    stroke: white;
                                    fill: none;
                                }
                                span{
                                    text-align: center;
                                    font-size: 12px;
                                    letter-spacing: 3px;
                                    color: white;
                                    padding: 3px 13px;
                                }
                        }
                        &:hover{
                            .view-page-button{
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .portfolio-slide-text {
                max-width: 500px;
                h2 {
                    font-weight: bold;
                    font-size: 24px;
                }

                h3 {
                    color: #464646;
                    font-weight: 200;
                    font-size: 14px;
                    margin-top: 1rem;
                }

                h4 {
                    font-size: 15px;
                    font-weight: bold;
                }

                p {
                    margin: 1rem 0 0 1rem;
                    font-size: 15px;
                    font-weight: 200;
                }

                .portfolio-slide-stackImg {
                    margin: 1rem 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 22px;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
    .portfolio-slide-button{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .portfolio-slide-number {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            color: #656565;
            padding: 5px 0 3px 0;
            border-radius: 30px;
            width: 70px;
            background-color: white;
        }
        .portfolio-slider-button-prev {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #787878;
            font-size: 13px;
            gap: 5px;
            svg {
                stroke: #787878;
                width: 30px;
                height: 30px;
            }
            &:hover{
                color: #9e9e9e;
                svg{
                    stroke: #9e9e9e;
                }
            }
        }
        .portfolio-slider-button-next {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #787878;
            font-size: 13px;
            gap: 5px;
            svg {
                stroke: #787878;
                width: 30px;
                height: 30px;
            }
            &:hover{
                color: #9e9e9e;
                svg{
                    stroke: #9e9e9e;
                }
            }
        }
    }
}