@use "./color.scss" as *;

/*   라이트 모드 테마   */
html[data-theme="light"] {
  --color-text: #{$text-color-light};
  --color-text-inherit: #{$text-color-inherit-light};
  --color-text-2: #{$text-color-light-2};
  --color-background: #{$bg-color-light};
  --color-background-inherit: #{$bg-color-inherit-light};
  --color-blur: #{$bg-color-blur-light};
  --color-shadow: #{$shadow-color-light};
  --color-parallax-bg: #{$parallax-bg-color-light-1};
  --color-button-bg-1: #{$button-color-light-1};
  --color-memo-container: #{$contact-memo-container-light};
  --bg-cloud: #{rgb(175,231,242)};
  --bg-cloud-0: #{url("../../public/bg/light/구름4.png")};
  --bg-cloud-1: #{url("../../public/bg/light/구름1.png")};
  --bg-cloud-2: #{url("../../public/bg/light/구름2.png")};
}

/*   다크 모드 테마   */
html[data-theme="dark"] {
  --color-text: #{$text-color-dark};
  --color-text-inherit: #{$text-color-inherit-dark};
  --color-text-2: #{$text-color-dark-2};
  --color-background: #{$bg-color-dark};
  --color-background-inherit: #{$bg-color-inherit-dark};
  --color-blur: #{$bg-color-blur-dark};
  --color-shadow: #{$shadow-color-dark};
  --color-parallax-bg: #{$parallax-bg-color-dark-1};
  --color-button-bg-1: #{$button-color-dark-1};
  --color-memo-container: #{$contact-memo-container-dark};
  --bg-cloud: #{rgb(45, 57, 68)};
  --bg-cloud-0: #{url("../../public/bg/dark/구름4.png")};
  --bg-cloud-1: #{url("../../public/bg/dark/구름1.png")};
  --bg-cloud-2: #{url("../../public/bg/dark/구름2.png")};
}